<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduHabit">
        
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".StudentDashboardActivity" android:exported="false" />
        <activity android:name=".TeacherDashboardActivity" android:exported="false" />
        
        <!-- Overhauled Vocabulary Hub (Point of Consolidation) -->
        <activity android:name=".VocabularyPracticeActivity" android:exported="false" />
        
        <!-- Other Modules -->
        <activity android:name=".GrammarActivity" android:exported="false" />
        <activity android:name=".GrammarLearningActivity" android:exported="false" />
        <activity android:name=".GrammarLessonActivity" android:exported="false" />
        <activity android:name=".PracticeExerciseActivity" android:exported="false" />
        <activity android:name=".SpeakingPracticeActivity" android:exported="false" />
        <activity android:name=".AchievementsActivity" android:exported="false" />
        <activity android:name=".WordMatchGameActivity" android:exported="false" />
        <activity android:name=".GuessNumberGameActivity" android:exported="false" />
        
        <!-- Keep only essential legacy activities -->
        <activity android:name=".AssignmentListActivity" android:exported="false" />
        <activity android:name=".SubmitAssignmentActivity" android:exported="false" />
        <activity android:name=".SubmissionsListActivity" android:exported="false" />
        <activity android:name=".ReviewSubmissionActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".CreateAssignmentActivity" android:exported="false" />
        <activity android:name=".StudentsListActivity" android:exported="false" />
        <activity android:name=".AnalyticsActivity" android:exported="false" />
        <activity android:name=".CoursePlayerActivity" android:exported="false" />
        <activity android:name=".SubjectDetailActivity" android:exported="false" />
        <activity android:name=".CoursePracticeActivity" android:exported="false" />
        <activity android:name=".BusinessEnglishPracticeActivity" android:exported="false" />
        <activity android:name=".PronunciationPracticeActivity" android:exported="false" />
        <activity android:name=".IELTSPreparationActivity" android:exported="false" />
        <activity android:name=".WritingMasterActivity" android:exported="false" />
            
    </application>

</manifest>